
/*Sommaire*/
#TOC {
  background-image: url(../img/com_toutPublic/PageSommaire_16_9_jaune.PNG);
}

/*page sommaire*/
.toc-section-number{
  color: #0F417A ;
}

#TOC ul li a{
  color: #0F417A ;
}


/*page Titre*/
div.backgroundTitre{
  background-image: url(../img/com_toutPublic/PagePartie_16_9_jaune.svg);
}

/*Page standard*/
div.backgroundStandard {
  background-image: url(../img/com_toutPublic/PageStandard_16_9_jaune.svg);
}

/*Page finale*/
div.backgroundPageFinale {
  background-image: url(../img/com_toutPublic/EndPage_16_9_jaune.png);
}

