/*-- scss:defaults --*/


/*-- scss:rules --*/


/*Sommaire*/
#TOC {
  background-image: url(img/PageSommaire_16_9_vert.png);
}

/*page sommaire*/
.toc-section-number{
  color: #0F417A;
}

#TOC ul li a{
  color: white;
}


/*page Titre*/
div.backGroundTitre{
  background-image: url(img/PagePartie_16_9_vert.svg);
}

/*Page standard*/
div.backGroundstandard {
  background-image: url(img/PageStandard_16_9_vert.svg);
}

/*Page finale*/
div.backgroundPageFinale {
  background-image: url(img/EndPage_16_9_vert.png);
}

