/*-- scss:defaults --*/

$font-family-sans-serif: "Open Sans", "Arial", "Helvetica" ;
$presentation-heading-font: $font-family-sans-serif;
$presentation-heading-color: #383d3d !default;
$h1-font-size: 2em;
$h2-font-size: 1.6em;
$h3-font-size: 1.3em;
$h4-font-size: 0.9em;
$h5-font-size: 0.6em;
$h6-font-size: 0.5em;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color:  #3ea0e5 !default;
$selection-bg: #26351c !default;
$navigation-tools-color: #3ea0e5 !default;
$main-color-text: #0F417A !default;
$second-color-text: #5B8ED4 !default;
$yellow-color: #ffda5a !default;
$grey-color-endPage: #646363 !default;

/*-- scss:rules --*/

/**************GENERIQUE*******************/

h1{
  font-size: $h1-font-size;
}

.level2{
  h2{
  font-size: $h2-font-size ;
  padding-top: 1%;
}

  h3{
    font-size: $h3-font-size;
  }
  
  h4{
    font-size: $h4-font-size;
  }
  
  h5{
    font-size: $h5-font-size;
  }
  
  h6{
    font-size: $h6-font-size;
  }
}


li {
  font-family: $font-family-sans-serif;
  color: $main-color-text;
}

p {
  color: black;
}

.reveal {
  .controls, .progress, .verticator {
    color: $navigation-tools-color;
  }
  a {
    line-height: 1.3em;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
    color: #5a95cf;
  }
  a:active {
    color: blueviolet;
  }
  h1, h4, h5, h6 {
  color: $main-color-text;
  }
  h2 {
    color: $second-color-text;
  }
  h3 {
    color: #B0AEAE;
  }
}

.slide-number{
  top: 2%;
  height: fit-content;
  background-color: $main-color-text !important;
  color: $yellow-color !important;
  font-weight: bold;
}

.level2{
  ul {
    li {//liste de niveau 1
      list-style-type: "– ";
      font-size: 1em !important;
    }
    ul {
      li {//liste de niveau 2
        list-style-type: disc;
        font-size: 0.9em !important;
      }
      ul {
        li {//liste de niveau 3
          list-style-type: "– ";
          font-size: 0.8em !important;
        }
        ul{
          li{//liste de niveau 4
            list-style-type: disc;
            font-size: 0.9em !important;
          }
          ul{
            li{//liste de niveau 5
              list-style-type: disc;
              font-size: 0.9em !important;
            }
            ul{
              li{//liste de niveau 6
                list-style-type: disc;
                font-size: 1em !important;
              }
            }
          }
        }
      }
    }
  }  
}


.interligne2 ul li:not(:last-child) {
   margin-bottom: 2% !important;
}

.interligne5 ul li:not(:last-child) {
   margin-bottom: 5% !important;
}

/***********premiere page**********/

p.date{
  font-size: 65%;
  text-align: left;
}

.reveal h1 {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 1.5em;
}

#title-slide{
  hyphens: auto;
  width: 100%;
  height: 100%;
}

.reveal .title {
  padding-top: 15%;
}

.reveal .subtitle {
  text-align: left;
  font-weight: bold;
  color: $second-color-text;
}

#nomReunion {
  top: 33%;
  position: relative;
}

#nomReunion p {
  font-size: 0.7em;
  text-align: right;
  color: $yellow-color;
  margin: 0;
  padding: 0 5px;
  background-color: #0f417a;
}

/***********Page Sommaire ************/

#TOC {
  height: 95% !important;
  background-repeat: no-repeat;
  background-size: 100%;
}

#toc-title {
  float: right;
  font-size: 0.7em;
  padding-right: 1%;
  padding-top: 0.5%;
  color: $yellow-color;
}

#TOC ul {
  font-size: 95%;
  margin-top: 5%;
  list-style-type: none;
  padding-left: 15%;
}

#TOC ul li {
  list-style-position: outside;
  text-indent: -1em;
  text-transform: uppercase;
}

#TOC ul li a {
  font-weight: bold;
}

#TOC ul li:not(:last-child) {
   margin-bottom: 5%;
}

/***********Page Titre ************/

div.backgroundTitre{
  max-width: 100%;
  height: auto;
/*  background-size: cover;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bandeauTitre{
  top: -473%;
  position: absolute;
  width: 535px;
  right: -8%;
  font-size: 0.7em;
}

.level1 {
  display: flex !important;
  align-items: center;
  justify-content: center;
  
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.header-section-number{
  text-decoration: none;
  display: inline-block;
}


/***********Page Standard************/

div.backgroundStandard {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bandeauStandard{
  position: absolute;
  right: 0;
  font-size: 0.7em;
  top: 7%;
}

.level2 {
/*  ul li, p {
    font-size: 0.7em;
  }*/
  h2 {
    margin-top: 9%;
  }
}

.enteteAvecTitre {
  position: absolute;
  top: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  
  p {
    color: $grey-color-endPage;
  }
}

/***********Page de fin************/

div.backgroundPageFinale {
  background-repeat: round;
  background-size: cover;
}

.textPageFinale {
  text-align: center;
  font-weight: bold;
  border-bottom: solid 5px $main-color-text;
  width: 80%;
  font-size: 1.8em;
  
  p {
    color: $main-color-text;
    font-size: 0.7em;
  }
}


.textFooter {
  bottom: 3%;
  position: fixed;
  left: 40%;
  font-size: 0.8em;
  
  p {
    color: $grey-color-endPage;
    font-weight: bold;
  }
}

.coordonnees {
  font-size: 0.7em;
  margin-top: 2em;
  
  ul li {
    color: $grey-color-endPage;
    font-weight: bold;
    list-style-type: none;
  }
}


/*********LOGO**************/

.slide-logo{
  max-height: 20% !important;
  right: 5% !important;
  bottom: -10px !important;
}

.logoTopRightStandard{
  width: 130px;
  top: -7%;
  position: absolute;
  right: 0;
}

.logoTopRightTitre{
  width: 125px;
  top: -630%;
  position: absolute;
  right: 0%;
}


/************FOOTER PRINCIPAL**************/

#footerPersonnalise {
  position: fixed;
  bottom: 18px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  z-index: 2;
  height: 40px;
}

img.logo {
  width: 40px !important;
  height: 40px !important;
  margin-bottom: -1% !important;
}

.divCachee{
  display: none !important;
}


/***************AUTRES*******************/

.aside-footnotes {
  font-size: medium !important;
}

blockquote {
  font-size: 50%;
  font-style: italic !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerImage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.listeSansPuceNiveau1 ul>li{
  list-style-type: none;
}


.listeSansPuceNiveau2 ul>li>ul>li{
  list-style-type: none;
}

.listeSansPuceNiveau3 ul>li>ul>li>ul>li {
  list-style-type: disclosure-closed;
}

.puceListFleche::before {
  content: "\2192";
  color: #610316;
  padding-right: 5px;
}

.imgWidth100 img{
  width: 100%;
}

.imgWidth90 img{
  width: 90%;
}

.imgWidth85 img{
  width: 85%;
}

.imgWidth70 img{
  width: 70%;
}

.imgWidth50 img{
  width: 50%;
}

/***************FENETRE MODALE*******************/


#imageLogoInseeModal{
  width: 70%;
  left: 15%;
  position: relative;
}

.modal {
  header{
   border-bottom: solid 2px gray;
  }
}

.centerImgModal {
  
  img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  figcaption {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
  }
}

/******************packages DT**********************/

.datatables, .cell-output-display {
  font-size: 70%;
}

.dataTables_length select {
  font-size: 100%;
}

.dt-buttons {
  float: right !important;
  padding: 0 5px;
}